.button-block {
    text-align: center;

    .btn {
        width: auto;
    }
}

.btn {
    border: none;
    color: $blackMain;
    background: $white;
    text-transform: uppercase;
    border-radius: 2px;
    transition: all .5s ease;
    padding: 10px 15px;
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    display: block;

    &--dark {
        color: $white;
        background-color: $dark80;

        &:hover {
            background-color: $blackMain;
        }
    }

    &--orange {
        color: $white;
        background-color: $orangeMain;

        &:hover {
            background-color: $orange;
        }
    }


    &--lg {
        padding: 15px 25px;
        font-size: $fsh3;    
        min-width: 200px;
    }

}