.container {
    max-width: 1024px;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 0 40px;
}

.section {
    min-height: 400px;
    padding: 50px 0px;

    @include mq('tablet-wide') {
        padding: 75px 0;
    }
}

img {
    max-width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;

    &--gradient {
        background-image: linear-gradient($black, rgba($black, .5), rgba($black, .3));
    }

    &--gradient-radial {
        background-image: radial-gradient($blackMain, rgba($black, .6));
    }
}

a {
    color: $blackMain;
    text-decoration: none;
    display: inline-block;
    transition: all .3s linear;
    
    &.link {      
        padding: 5px 0 5px;
        border-bottom: 1px solid transparent;
        margin: 0 10px;
        
        &--no-mg {
            margin: 0;
        }

        &--no-underline {
            border-bottom: transparent !important;
        }

        &:hover {
            border-bottom: 1px solid $orangeMain;        
        }

        &--light {
            color: #dddddd; 
        }
    }
}

.ul {
    @include mq('tablet-small') {
        text-align: left;
    }

    li {
        line-height: 1.2;
    }

    &--square {
        list-style: none;

        li::before {
            content: ""; 
            display: inline-block; /* Needed to add space between the bullet and the text */ 
            width: 5px;
            height: 5px;
            margin-left: -1em; /* Also needed for space (tweak if needed) */
            vertical-align: middle;
            margin-right: 10px;
        }
    }

    &--orange {
        li:before {
            background-color: $orangeMain;
        }
    }
}

.orange-brick {
    display: none;
    background-color: $orange;
    width: 350px;
    height: 150px;
    position: absolute;
    transform: translate(-50%, -50%);

    &--top {
        &-left {
            top: 50px;
            left: 50px;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    @include mq('tablet-wide') {
        display: block;
    }
}

@include mq('tablet') {
    .flex {
        @include flex();
    }
    
    .flex--half {
        flex: 0 0 50%;
    }
}

.text-center {
    text-align: center;
}