/*
    ===== PADDINGS =====
*/

$pd: 10px;
$pd-md: $pd * 2;
$pd-lg: $pd * 3;

/*
    ===== PADDINGS END =====
*/

/*
    ===== MARGINS =====
*/
$mg: 10px;
$mb-lg: 100px;
$mb-md: 75px;
$mb-sm: 50px;
$mb-xs: 25px; 

/*
    ===== MARGINS END =====
*/