.text-important {
    display: inline-block;
    padding: 5px 5px 10px;
    border-radius: 3px;

    &--orange {
        background-color: $orangeMain;
        color: $white85;
    }
}

$head-mg: 25px;

.heading {
    &--line {
        &-top {
            &:before {
                content: '';
                display: block;
                background: $orangeMain;
                height: 1px;
                width: 150px;
                margin: 0 auto $head-mg;
            }
        }

        &-bottom {
            &:after {
                content: '';
                display: block;
                background: $orangeMain;
                height: 1px;
                width: 150px;
                margin: $head-mg auto;
            }
        }

        &-right {
            position: relative;
            overflow: hidden;

            &:after {
                content: '';
                background: $gray;
                height: 1px;
                width: 100%;
                margin-left: 10px;
                position: absolute;
                top: 50%;
            }
        }
    }

    &--mb {

        &-lg {
            margin-bottom: $mb-lg;
        }

        &-md {
            margin-bottom: $mb-md;
        }

        &-sm {
            margin-bottom: $mb-sm;
        }
    }
}

.heading-main {
    text-align: center;

    &__header {
        margin-bottom: $head-mg;
    }

    &__subheader {

    }
}

