section#galery {
    background: $gray;
}

.galery {
    $self: &;

    &__container {
        margin: 0 auto;
        max-width: 950px;
    }

    &__item {
        padding: $pd * 2;
        opacity: .8;
        transition: all .3s linear;

        img {
            width: 100%;
        }
    }

    .slick-center {
        #{ $self }__item {
            opacity: 1;
            transform: scale(1.1);
        }
    }

    .slick-slide {
        outline: none;
    }

    .slick-prev:before, .slick-next:before {
        color: $orangeMain;
        font-size: 36px;
    }

    .slick-prev {
        left: -40px;
    }

    .slick-next {
        right: -40px;
    }
}