section#contacts {

}

.contacts {
    a {
        margin: 0;
    }

    &__item {
        margin-bottom: 20px;
    }
    &__content {
        @include mq('tablet') {
            @include flex();
        }
    }

    &__map {
        iframe {
            width: 100%;
            height: 450px;
        }
    }
}