section#about {
    @include bg-img('/src/static/img/music-notes.png', contain);
}

.info-list {
    @include mq('tablet') {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex: 0 0 50%;
        margin-bottom: $mg * 5;
        padding-right: 20px;

        @include mq('tablet') {
            padding-right: 55px;        
        }

        h3 {
            margin-bottom: $mg / 2;
        }

        h4 {
            font-weight: 300;
            margin-bottom: $mg * 2;
        }
    }

    &__icon {
        margin-right: 20px;
    }
}