section#workWith {
    background-color: $gray;
}

.working-with {
    @include mq('tablet') {
        @include flex();
    }

    &__content {
        @include flex();
        justify-content: center;
        margin-bottom: $mb-xs;

        @include mq('tablet') {
            justify-content: space-between;
            margin-bottom: 0;
        }
    }

    &__half {
        flex: 50%;
    }

    &__item {
        text-align: center;
        padding: 20px 40px;
        
        @include mq('tablet') {
            padding: 20px;
        }

        h3 {
            margin-bottom: 10px;
        }
    }

    &__img {
        margin: 0 auto;

        @include mq('tablet', max) {
            width: 100px;
        }
    }

    &__icon {
        max-width: 75px;
        margin: 0 auto 20px;
    }
}