section#hero {
    
    position: relative;
    min-height: 100vh;
    @include bg-img('../../static/img/hero.jpg', cover);
    @include font-montserat();

    .hero {
        @include full-size();
        @include flex();

        &__content {
            z-index: 1;
            width: 100%;
            @include pos(absolute, 45%);

            h1, h3 { color: $white; }
            h1 {
                font-weight: bold;
                font-size: $fs-hero-lg;
                margin: 25px 0;
            }
            
            &-inner {
                max-width: 300px;
            }
        }

        &__scroll {
            position: absolute;
            bottom: 75px;
            left: 50px;

            &-text {
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                color: $white;
                font-size: 10px;
                margin-bottom: 16px;
                line-height: 15px;
            }
        
            &-arrow {
                stroke: $white;
                width: 15px;
            }
        }
    }
}