section#works {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    @include bg-img('../../static/img/music_video.jpg', cover);

    @include mq('tablet') {
        min-height: 600px;
    }

    h1, h3 {
        color: $white;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    #worksVideo {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
        display: none;

        @include mq('tablet') {
            display: block;
        }
    }

    #musicVideoDetails {
        iframe {
            min-height: 200px;
            max-width: 720px;
            margin: 10px auto;

            @include mq('tablet') {
                min-height: 400px;
            }
        }   
    }
}
