$size-sm: 6px;
$size-lg: 10px;
$margin: $size-lg 0;

.dots {
    @include mq('desktop', max) {
        display: none;
    }

    $self: &;
    width: 30px;
    text-align: center;
    @include pos(fixed, 50%);
    right: $size-lg * 1.5;
    z-index: 2;

    &__wrap {
        padding: $pd;
        cursor: pointer;

        &:hover {
            #{ $self }__item {
                background-color: $orangeMain;    
            }
        }
    }

    &__item {
        width: $size-sm;
        height: $size-sm;
        border-radius: 50%;
        background: $gray-dark;
        border: 1px solid transparent;
        display: inline-block;
        transition: all .3s linear;

        &--active {
            transform: scale(2);
            background: none;
            border: 1px solid $orangeMain;
        }
    }

    &--light {
        #{ $self }__item {
            background: $white85;
        }
    }

    &--dark {

    
    }
}