.nav {
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: transparent;

    a {
        margin-right: 20px;

        &.a--higlighted {
            background-color: rgba($orange, .3);
            color: $white;
            border: 1px solid $orangeMain;
            border-radius: 25px;
            padding: 8px 25px;

            &:hover {
                background-color: $orangeMain;                    
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &--top {
        top: 20px;
    }
    
    &__logo {
        cursor: pointer;
        max-width: 120px;

        &-light {
            display: block;
        }

        &-dark {
            display: none;
        }
    }

    &__inner {
        max-width: 1024px;
        padding: 20px 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: rgba($white, .8);

            &:hover {
                color: $white;
            }
        }
    }
}

.social-nav {
    $self: &;
    position: fixed;
    left: 30px;
    top: 50%;
    z-index: 10;
    opacity: 0;
    transition: opacity .3s linear, transform .5s linear;
    transform: translate(-100px, -50%);
    
    @include mq('desktop', max) {
        display: none;
    }

    a.social-nav__item {
        display: block;
        font-size: $fsh3;
        margin-bottom: $mg;
    }
}


header {
    &.nav--fixed {
        .nav {
            transition: background-color .3s linear;
            background-color: $white;
            color: $blackMain;
            position: fixed;
            box-shadow: 0px -4px 20px 0px rgba($black, 0.5);
    
            &__inner {
                a {
                    color: $blackMain;

                    &.a--higlighted {
                        border: 1px solid $orangeMain;
                        border-radius: 25px;
                        padding: 8px 25px;
                        background: none;
            
                        &:hover {
                            background-color: $orangeMain;                    
                        }
                    }
        
                    &:hover {
                        color: $black;
                    }
                }
        
            }
            &__logo-light {
                display: none;
            }
    
            &__logo-dark {
                display: block;
            }
        }

        .social-nav {
            opacity: 1;
            transform: translate(0%, -50%);
        }
    }
}