@import "base/index";
@import "loader";
@import "indicators/index";
@import "nav/index";
@import "hero/index";
@import "about/index";
@import "workWith/index";
@import "works/index";
@import "regards/index";
@import "team/index";
@import "contacts/index";
@import "galery/index";
@import "banner/index";

body {
    font-size: $fs;

    @include font-exo2();

    &.side-nav--opened, &.modal--opened, &.loading {
        overflow: hidden;
    }
}

footer {
    background-color: #262626;
    color: $gray;
    padding: 50px 0 20px;

    .footer {
        &__content {

        }

        &__logo {
            img {
                margin: 0 auto;
                max-width: 200px;

                @include mq('tablet') {
                    display: inline-block;
                }
            }
        }
        
        &__item {
            margin-bottom: 35px;
        }

        &__copy {
            color: $gray-dark;
        }

        .flex--half {
            text-align: center;
        }
    }

}