@import "base/index";
@import "indicators/index";
@import "nav/index";
@import "hero/index";
@import "about/index";
@import "workWith/index";
@import "works/index";
@import "regards/index";
@import "team/index";
@import "contacts/index";
@import "loader";

// @import "modal/index";
// @import "sideNav/index";


body {
    font-size: $fs;

    @include font-exo2();

    &.side-nav--opened, &.modal--opened, &.loading {
        overflow: hidden;
    }
}

footer {
    background-color: $gray-dark;
}